<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
         $(document).ready(function (){
            var socket  = io.connect();

            if(name == undefined || name == null){
                var name=prompt("Your name:");
                if (name!=null){
                    x="Hello " + name + "! How are you today?";
                    alert(x);
                    socket.emit("got_a_new_user", {name: name});
                }
            }

            var chat = document.getElementById("box").innerHTML
            $('#send').click(function (e){
                e.preventDefault()
                var message = $('#message').val()
                socket.emit( "message_sent", {content: message});
                $('#message').val("")
            });
            
            socket.on( 'new_user', function (data){
                console.log( 'The server says: '  + data.name);
                $('#user_list').append( "<div class='user_info'><h3>" + data.name + "</h3></div>" );
            });   
            socket.on('server_response', function (data){
                console.log(data)
                $('#box').append("<p>"+data.response+"</p>")
            });        


    })
    </script>


</head>
<body>
    <div id="user_list">

    </div>


    <div class="chat_room">
        <h2>Conversation Board</h2>
        <div id="box" style="border: 1px solid black; width: 600px; height: auto; padding:10px ">
        
        
        </div>
        <br>
        <form>
            <input type="text" name="" id="message" placeholder="enter your message here" style="border: 1px black solid; width: 300px;">
            <input type="submit" name="send" id="send" value="Send">
        </form>
       
    </div>
</body>
</html>
